@import "tailwindcss";

@theme {
  --font-sans: var(--font-menlo), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-celine: var(--font-celine), ui-serif, serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 45px;
}

html.dark {
  color-scheme: dark;
}
